_build
.ipynb_checkpoints
.DS_Store
*.log
.Rproj.user
.Rhistory
*_cache
*_files
_book
_manuscript
_freeze
.quarto
__pycache__
fp-info-cache
*-backups
*.zip
.history/
*.bak
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
*-backups/
fp-info-cache
sym-lib-table-bak
fp-lib-table-bak

